<div class="login-wrapper">
<h1>Log in to get started!</h1>
	<form name="form" class="login-form" ng-submit="form.$valid && vm.submit()">
		<label>
			<span><i class="fa fa-envelope" aria-hidden="true"></i>Email</span>
			<input type="email" 
					class="form-control" 
					placeholder="example@example.com" 
					ng-required="true" 
					ng-model="vm.email"
					ng-class="{'invalid': vm.emailError || $invalid}"/>
			<span class="login-error-message" ng-show="vm.emailError">{{vm.emailError}}</span>
		</label>

		<label>
			<span><i class="fa fa-key" aria-hidden="true"></i>Password</span>
			<input type="password" 
					class="form-control" 
					placeholder="password" 
					ng-required="true" 
					ng-model="vm.password"
					ng-class="{'invalid': vm.passwordError || $invalid}"/>

			<span class="login-error-message" ng-show="vm.passwordError">{{vm.passwordError}}</span>
		</label>

		<button type="submit" class="btn btn-secondary" ng-disabled="$invalid">Log in</button>
	</form>	

	<div class="sign-up-link">
		<a ui-sref="signup">No account? <strong>Sign Up</strong></a>
	</div>

</div>