<div class="row">
<!-- left sidebar -->
    <div class="sidebar sidebar-left-wrapper">
      <!-- Todo, gör detta till directive-->
      <div class="sidebar-left-content">
        <ul class="sample-type-select">
          <li ng-repeat="val in [0,1,2]" ng-if="!vm.categories" class="btn-placeholder">
            <button class="btn btn-instrument"></button>
          </li>
          <li ng-repeat="category in vm.categories">
            <button class="btn btn-instrument"
                    ng-class="vm.categoryClasses($index)"
                    ui-sref="sounds.samples({category: category})"
                    ui-sref-active="active"
            >
            {{category}}
          </button>
          </li>
        </ul>
      </div>
		</div>
    <div ui-view="samples"></div>

</div>