.main-content-wrapper {
	padding: 0 0 0 380px;
}

.sample-type-select {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: scroll;
}

.sample-type-select li {
	border-left: 2px solid @dark-blue;
	padding: 0 10px;
	margin-bottom: 10px;
}

.sample-type-select li:focus, .sample-type-select li:active {
	outline: none;
}

.sample-type-select li button {
	text-transform: uppercase;
}

.sample-type-select li button.active {
	opacity: 1;
}

.odd-background {
	background-color: @odd-background;
}

.sample-tags > button {
	text-transform: capitalize;
}

/*Instrument colors*/
.sample-type-select li button.green {
	background-color: #33DFA6;
}

.sample-type-select li button.greentwo {
	background-color: #33DFDC;
}


.sample-type-select li button.light-blue {
	background-color: #2B89E3;
}

.sample-type-select li button.dark-blue {
	background-color: #3349DF;
}

.sample-type-select li button.purpleone {
	background-color: #734BDC;
}

.sample-type-select li button.purpletwo {
	background-color: #A755FF;
}

.sample-type-select li button.purplethree {
	background-color: #9324DC;
}