.main-content-wrapper {
	padding: 0 0 0 340px;
}

.sample-type-select {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.sample-type-select li {
	margin-bottom: 10px;
}

.sample-type-select li:last-child {
	margin-bottom: 0;
}

.sample-type-select li:focus, .sample-type-select li:active {
	outline: none;
}

.sample-type-select li button {
	text-transform: uppercase;
}

.sample-type-select li button.active {
	opacity: 1;
}

.odd-background {
	background-color: @odd-background;
}

.filter-item {
	margin-bottom: 30px;
	padding: 10px 20px;
}

.filter-item h5 {
	font-weight: 600
}

.sample-order label input {
	margin-right: 10px;
}

.sample-tags button {
	text-transform: capitalize;
}

.sample-formats button {
	text-transform: uppercase;
}

/*Instrument colors*/
.sample-type-select li button.green {
	background-color: @accent-green;
}

.sample-type-select li button.greentwo {
	background-color: @accent-green-alt;
}


.sample-type-select li button.light-blue {
	background-color: @primary-blue;
}

.sample-type-select li button.dark-blue {
	background-color: @accent-blue;
}

.sample-type-select li button.purpleone {
	background-color: @accent-purple;
}

.sample-type-select li button.purpletwo {
	background-color: @accent-purple-alt;
}

.sample-type-select li button.purplethree {
	background-color: @accent-purple-alt-two;
}
