<div class="row">
<!-- left sidebar -->		
    <div class="sidebar sidebar-left-wrapper">
      <!-- Todo, gör detta till directive-->
      <div class="sidebar-left-content">
        <ul class="sample-type-select">

          <li ng-repeat="category in vm.categories">
            <button class="btn btn-instrument"
                    ng-class="vm.categoryClasses($index)"
                    ng-click="vm.categoryClicked(category)"
            >
            {{category}}
          </button>
          </li>
        </ul>
      </div>
		</div>

<!--right sidebar-->
    <div class="sidebar-right-wrapper">
      <div class="sidebar-right-content">
        
        <div class="sample-tags filter-item">
          <h5>TAGS</h5>
          <filter-buttons active-filters="vm.activeTags" filters="vm.tags" button-model="vm.checkboxes"></filter-buttons>
        </div>

        <div class="filter-item">
          <h5>BITRATE</h5>
          <filter-slider value="400" min="0" max="500"></filter-slider>
        </div>

      </div>
    </div> 

<!--Main Content-->
		<div class="main-content-wrapper">
			<div class="container-fluid">
           	<div class="row" ng-repeat="sample in vm.samples | filter:vm.filterSamples()">
           		<div class="col-md-12" ng-class-odd="'odd-background'">
                <sample content="sample" category="vm.selectedCategory"></sample>
              </div>
           	</div>
      </div>
    </div>
</div>