/**
 * These are the variables used throughout the application. This is where 
 * overwrites that are not specific to components should be maintained.
 */

/**
 * Typography-related.
 */

@sansFontFamily: 'Roboto', sans-serif;


/**
*	Colors
*/

@dark-blue: #202A2E;
@light-blue: #778EAB;
@primary-blue: #2B89E3;
@primary-blue-inactive: #444E55;


@white: #FFFFFF;
@grey: #D2D5D9;
@turq: #8FDBCF;
@pastel-green: #33DFA6;
@dark-green: #7A9C9C;


@sidebar-left-background: #263038;
@sidebar-right-background: #2F3A42;
@odd-background: #171D22;
@download-button: #444E55;
@audiobin-button: #2F3A42;
