<div class="login-wrapper">
<h1>Sign up!</h1>
	<form name="form" class="login-form" ng-submit="form.$valid && vm.submit()">
			
		<label>
			<span><i class="fa fa-envelope" aria-hidden="true"></i>Email</span>
			<input type="email" 
					class="form-control" 
					ng-required="true" 
					ng-model="vm.email"
					/>
		</label>

		<label>
			<span><i class="fa fa-key" aria-hidden="true"></i>Password</span>
			<input type="password" 
					class="form-control" 
					ng-required="true" 
					ng-model="vm.password"
			/>
		</label>

		<label>
			<span><i class="fa fa-key" aria-hidden="true"></i>Repeat password</span>
			<input type="password" 
					class="form-control" 
					ng-required="true" 
					ng-model="vm.repeatPassword"
			/>
		</label>
	
		<button type="submit" class="btn btn-secondary" ng-disabled="$invalid">Sign up</button>
	</form>	

	<p class="error-message">{{vm.errorMessage}}</p>

	<div class="sign-up-link">
		<a ui-sref="login">Already have account? <strong>Log in</strong></a>
	</div>

</div>