<div class="row">
	<div class="col-md-1"></div> <!--Spacing-->
	<div class="col-md-10">
		<div class="col-md-12 favorite-title">
			<h1><i class="fa fa-cloud-upload profile-heart" aria-hidden="true"></i>Upload</h1>
		</div>
		<div class="col-md-12" ng-hide="vm.audioFile">
			<div class="upload-dropzone"
				ngf-drop
				ngf-select
				ng-model="vm.audioFile"
				ngf-drag-over-class="dragover"
				ngf-multiple="false"
				ngf-allow-dir="true"
				accept="audio/*"
				ngf-max-size="20MB"
				ngf-pattern="'.mp3,.wav'">
					<button class="btn huge btn-primary">Select sample</button>
					<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
			</div>
			<div class="upload-description">
				<p>Max size: <span>20MB</span></p>
				<p>Formats: <span>mp3/wav</span></p>

			</div>
		</div>
		<div class="col-md-12 sample-file-info" ng-if="vm.audioFile">
			<div class="row info-container top">
				<i ng-hide="vm.uploadState === 'uploading'" ng-click="vm.clear()" class="fa fa-times clear" aria-hidden="true"></i>
				<div class="col-md-12">
					<h2>File</h2>
				</div>
				<div class="col-md-4">
					<p><span class="sample-info-title">Name:</span><br> {{vm.audioFile.name}}</p>
				</div>
				<div class="col-md-4">
					<p><span class="sample-info-title">Size:</span><br> {{vm.audioFile.size}}</p>
				</div>
				<div class="col-md-4">
					<p><span class="sample-info-title">Format:</span><br> {{vm.audioFile.type}}</p>
				</div>
			</div>
			<div ng-if="vm.uploadState !== 'finished'">
				<div class="row info-container">
					<div class="col-md-12" ng-hide="vm.uploadState === 'uploading'">
						<label for="title">Title</label>
						<input id="title" class="form-control" type="text" ng-model="vm.sampleData.title" placeholder="title">

						<label for="sel1">Category</label>
						<select class="form-control" id="sel1" ng-model="vm.sampleData.category">
							<option value="kick">Kick</option>
							<option value="loop">Loop</option>
							<option value="snare">Snare</option>
							<option value="clap">Clap</option>
							<option value="cymbal">Cymbal</option>
							<option value="tom">Tom</option>
							<option value="noise">Noise</option>
							<option value="hihat">Hi hat</option>
						</select>
					</div>

					<div class="col-md-12" ng-hide="vm.uploadState === 'uploading'">
						<button class="btn btn-secondary" ng-click="vm.audioFile = null">Cancel</button>
						<button class="btn btn-primary" ng-click="vm.upload()">Save</button>
					</div>
					<div class="col-md-12" ng-if="vm.uploadState === 'uploading'">
						<p>Uploading your sample...</p>
						<div class="progress-bar">
							<div class="progress" style="width: {{ vm.uploadProgress+'%' }}"></div>
						</div>
					</div>
				</div>
			</div>
			<div ng-if="vm.uploadState === 'finished'">
				<div class="row info-container">
					<div class="col-md-12">
						<h1>Upload Completed</h1>
						<p><a ui-sref="sounds.samples({category: vm.sampleData.category})">Go to samples</a></p>
						<button class="btn btn-primary" ng-click="vm.clear()">Upload another sample</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-1"></div> <!--Spacing-->
</div>