<div class="row">
	<div class="col-md-12">
		<div class="col-md-12 page-title">
			<h1><i class="fa fa-cloud-upload page-icon" aria-hidden="true"></i>Upload</h1>
		</div>
		<div class="col-md-12" ng-hide="vm.audioFile">
			<div class="upload-dropzone"
				ngf-drop
				ngf-select
				ng-model="vm.audioFile"
				ngf-drag-over-class="dragover"
				ngf-multiple="false"
				ngf-allow-dir="true"
				accept="audio/*"
				ngf-max-size="20MB"
				ngf-pattern="'.mp3,.wav'"
				ngf-model-invalid="vm.invalidFile">
					<div>
						<button class="btn huge btn-primary">Select sample</button>
						<h5 ngf-no-file-drop>File Drag/Drop is not supported for this browser</h5>
						<h5 ng-hide="!vm.errorMessage">{{ vm.errorMessage }}</h5>
					</div>
			</div>
			<div class="upload-description">
				<p>Max size: <span>20MB</span></p>
				<p>Formats: <span>mp3/wav</span></p>
				<h5>When uploading to Verloren, you agree to the <a ng-click="vm.openTerms()">terms of use</a></h5>
			</div>
		</div>
		<div class="col-md-12 sample-file-info" ng-if="vm.audioFile">
			<div class="row info-container top">
				<i ng-hide="vm.uploadState === vm.states.UPLOADING" ng-click="vm.clear()" class="fa fa-times clear" aria-hidden="true"></i>
				<div class="col-md-12">
					<h2>File</h2>
				</div>
				<div class="col-md-4">
					<p><span class="sample-info-title">Name:</span><br> {{vm.audioFile.name}}</p>
				</div>
				<div class="col-md-4">
					<p><span class="sample-info-title">Size:</span><br> {{vm.formatSize(vm.audioFile.size)}}</p>
				</div>
				<div class="col-md-4">
					<p><span class="sample-info-title">Format:</span><br> {{vm.audioFile.type}}</p>
				</div>
			</div>
			<div ng-if="vm.uploadState !== vm.states.FINISHED">
				<div class="row info-container">
					<div class="col-md-12" ng-hide="vm.uploadState === vm.states.UPLOADING">
						<label for="title">Title</label>
						<input id="title" class="form-control" type="text" ng-model="vm.sampleData.title" placeholder="Sample title">

						<div class="category-selector">
							<label>Category</label>
							<div class="category-buttons">
	        					<button ng-repeat="category in vm.categories"
	        							class="btn btn-instrument"
	        							ng-class="vm.categoryClass($index)"
	        							ng-model="vm.sampleData.category"
	        							uib-btn-radio="category">{{ category }}
	        					</button>
        					</div>

    					</div>
					</div>

					<div class="col-md-12" ng-hide="vm.uploadState === vm.states.UPLOADING">
						<div class="submit-buttons">
							<button class="btn btn-primary" ng-click="vm.audioFile = null">Cancel</button>
							<button class="btn btn-call" ng-click="vm.upload()">Save</button>
						</div>
					</div>
					<div class="col-md-12" ng-if="vm.uploadState === vm.states.UPLOADING">
						<p>Uploading your sample...</p>
						<div class="progress-bar">
							<div class="progress" style="width: {{ vm.uploadProgress+'%' }}"></div>
						</div>
					</div>
				</div>
			</div>
			<div ng-if="vm.uploadState === vm.states.FINISHED">
				<div class="row info-container">
					<div class="col-md-12">
						<h1>Upload Completed!</h1>
						<p><a ui-sref="sounds.samples({category: vm.sampleData.category})">Go to samples <i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>
						<button class="btn btn-primary" ng-click="vm.clear()">Upload another</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>