.btn {
	font-size: 15px;
}

.btn:focus, .btn:active:focus {
	outline: none;
}
.btn-download {
	padding: 10px 20px;
	margin-right: 10px;
	margin-top: 5px;

	background-color: @download-button;
	color: white;
}

.btn-download:hover,
.btn-download:focus,
.btn-download:active, {
	color: white !important;
}

.btn-download:focus {
	outline: none !important;
}


.btn-audiobin {
	background-color: @audiobin-button;
}

.btn-instrument {
	height: 70px;
	width: 70px;
	padding: 0;
	text-align: center;
	border-radius: 8px;
	opacity: 0.5;
}

.btn-instrument:hover,
.btn-instrument:focus,
.btn-instrument:active, {
	opacity: 1;
	color: #FFFFFF;
}