.btn {
	font-size: 15px;
	margin-right: 10px;
	margin-top: 10px;
}

.btn:hover{
	box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
	transition: transform .1s ease-in-out;
}

.btn.huge,
.btn.huge:active,
.btn.huge:hover,
.btn.huge:focus {
	padding: 20px 30px;
}

.btn:focus, .btn:active:focus {
	outline: none !important;
}

.btn.active {
	box-shadow: none !important;
}

.btn-download {
	padding: 10px 20px;

	background-color: @download-button;
	color: white;
}

.btn-download.disabled {
	opacity: 0.5;
}

.btn-download.disabled {
	opacity: 0.5;
}

.btn-download:hover,
.btn-download:focus,
.btn-download:active, {
	color: white !important;
}

.btn-download:focus {
	outline: none !important;
}


.btn-audiobin {
	background-color: @audiobin-button;
}

.btn-instrument {
	margin: 0;
	text-transform: uppercase;
	height: 60px;
	width: 60px;
	padding: 0;
	text-align: center;
	border-radius: 8px;
	opacity: 0.65;
	font-size: 13px
}

.btn-instrument:hover{
	opacity: 0.9;
	color: @white;
	box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
	transition: transform .25s ease-in-out;
}

.btn-instrument:focus,
.btn-instrument:active, {
	opacity: 0.8;
	color: #FFFFFF;
}

.btn-instrument.active {
	opacity: 1;
}

.btn-primary,
.btn-primary:focus, {
	padding: 8px 16px;

	background-color: @primary-blue-inactive;
	border: 0;
	color: white;
}

.btn-primary:active {
	background-color: darken(@primary-blue-inactive, 1%) !important;
}

.btn-primary:hover {
	background-color: lighten(@primary-blue-inactive, 5%);
}
.btn-primary.active:hover {
	background-color: @primary-blue;
}

.btn-primary.active,
.btn-primary.active:focus,
.btn-primary.active:active {
	background-color: @primary-blue !important;
}

.btn-default {
}

.btn-default:hover {
}


.btn-call, .btn-call:hover {
	background-color: @primary-blue;
	color: @white;
	padding: 8px 16px;
}

.btn-placeholder {
	opacity: 0;
	animation: 600ms fade-roll ease-in-out infinite alternate;
}

.btn-placeholder:nth-child(2){
	animation-delay: 300ms;
}

.btn-placeholder:nth-child(3){
	animation-delay: 600ms;
}

.input-search-group {
	display: flex;
	align-items: center;
	.form-control {
		margin-top: 0;
		border-radius: 2px 0 0 2px;
	}

	button, button:focus, button:active, {
		margin: 0;
		border-radius: 0 4px 4px 0;
	}
}


@keyframes fade-roll{
	from {
		opacity: 0;
	}

	to {
		opacity: 0.2
	}
}
