.sidebar-left-wrapper {
	background-color: @sidebar-left-background;
	width: 80px;
	z-index: 9999;
	position: fixed;
	top:0px;
	left:0;
	height:100vh;
	background-color: @sidebar-left-background;
	overflow-y: scroll;
}

.sidebar-right-wrapper {
	background-color: @sidebar-right-background;
	width: 260px;
	position: fixed;
	top:70px;
	left: 80px;
	height: 100vh;
}

.sidebar-left-content {
	padding: 10px 5px;
}

.sidebar-right-content {
}

.sidebar-right-content h5 {
	font-size: 11px;
}
