.jumbotron-home {
	background: url("https://unsplash.it/1494/999");
	background-size: cover;
	background-position: bottom;
	height: 100vh;
	position: relative;
	border-radius: 0 !important;
	z-index: 1;
}

.jumbotron-home:before {
	content: " ";
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 99;
	
	/* Rectangle 3: */
opacity: 0.6;
background-image: linear-gradient(0deg, #2F3A42 0%, #174978 100%);
}
.jumbotron-home:after {
	content: " ";
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 998;
	opacity: 0.3;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAKElEQVQYV2NkwA7+M2IR/8/AwMCILgEWBClGloALIkugCMIkMARBEgC7IAYGchlNYwAAAABJRU5ErkJggg==");
}

.jumbotron-home .header {
	position: absolute;
	z-index: 999;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
}

.jumbotron-home .header h1 {
	font-size: 56px;
}

.jumbotron-home .header .header-text {
	position: relative;
	animation: fadeInRight 800ms ease-out;
}

.jumbotron-home .header button {
	padding: 15px 30px;
	margin-top: 40px;
	position: relative;
	box-shadow: 0 5px 15px rgba(0,0,0,0.15);
	animation: fadeInLeft 800ms ease-out;
	transition: transform 200ms ease-in-out;
	background-color: @primary-blue;
}

.jumbotron-home .header button:hover {
	transform: scale(1.05);
	box-shadow: 0 15px 30px rgba(0,0,0,0.15)
}

.jumbotron-home .header button i {
	margin-right: 10px;
	font-size: 18px;
}